<div class="cambio-sucursal-mobile">
    <div class="card-mobile">
        <h2 class="title-mobile">Cambio de Sucursal</h2>

        <label for="sucursalSelect" class="label-mobile">Seleccionar sucursal</label>
        <select id="sucursalSelect" class="select-mobile" (change)="selectedId = $any($event.target).value">
            <option value="">-- Seleccione --</option>
            <option *ngFor="let s of sucursales" [value]="s.id">
                {{ s.name }}
            </option>
        </select>

        <div class="actions-mobile">
            <button class="btn-mobile primary" (click)="changeSucursal()">
                Cambiar
            </button>
            
        </div>
    </div>
</div>