h2 {
  margin-bottom: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
button[type="submit"] {
  width: fit-content;
  align-self: flex-end;
  margin-top: 1rem;
}
